body {
  background-color: #073642;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #93a1a1;
}

div.frame {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 540px;
  padding-bottom: 25px;
  padding-top: 5px;
}

div.message {
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

div.comment {
  height: 67px;
  display: none;
}

div.commentspace {
  height: 75px;
}

div.invite {
  display: none;
}

a {
  color: #2aa198;
}

a:hover {
  background-color: #03c;
  color: white;
  text-decoration: none;
}

a.comment_star {
  color: #dc322f;
  font-weight: bold;
}

a.comment_star:hover {
  background-color: #dc322f;
}

span.success {
  color: green;
}

span.error {
  color: red;
}

span.header {
  font-weight:bold;
}

tr.header {
  background-color: #002b36;
}

td.bool {
  text-indent: 24px;
}

td.center {
  text-align: center;
}

td.weekday {
  width: 55px;
  text-align: center;
}

td.edit_weekday {
  width: 68px;
  text-align: center;
}

td.comment {
  width: 400;
}

input {
  background-color: #eee8d5;
}

input.form {
  width: 150px;
}

h2.focus {
  color: #cb4b16;
}
