<div class="message">
  [% IF success %]
    <span class="success">
      [% success %]<br>
    </span>
  [% END %]
  [% IF error %]
    <span class="error">
      [% error %]<br>
    </span>
  [% END %]
</div>


